/* CSS - Cascade Style Sheets */
/*
SELECTORES BÁSICOS:
etiqueta {
    propiedad: valor;
}

.clase {
    propiedad: valor;
}   

#id {
    propiedad: valor;
}

*/

h2 {
    color: blue;
    font-size: 40px;
}

.red {
    color: red;
}

.under {
    text-decoration: underline;
}

#parrafo_especial {
    border: 2px solid purple;
    border-radius: 20px;
}
/*Jerarquía: ID, CLASES, ETIQUETA*/
#green { /* ID tiene prioridad */
    color: green;
}

p strong { /*Etiqueta strong que está dentro de párrafo*/
    text-transform: uppercase;
}

/*
.red strong
#parrafo_especial em
.under .abc
*/

.container > p { /*Descendiente directo*/
    border: 1px dashed red;
    border-radius: 10px;
}

.container > div > p {
    color: gray;
}

a.red { /*Aquel elemento que es a y que tiene clase red*/
    text-decoration: line-through;
}
/*
h2.under
.red.under
p.abc
*/

input[type="text"] {
    width: 350px;
}

input[type="number"] {
    height: 100px;
}

textarea, input {
    border: 3px solid magenta;
}

/*COLORES*/
h3.prueba_color {
    /*color: magenta; /*color de letra*/
   /*color: #801b04;*/
   color: rgb(111, 192, 243);
   background-color: green; /*color de fondo*/
}

/*TEXTO*/
#texto {
    text-align: justify; /*left, center, right, justify*/
    text-decoration: underline; /*underline, line-through, none, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /*bold, normal, light, 100, 300, 900*/
    font-size: 20px; /*tamaño de letra pt em*/
    font-family: sans-serif; /*serif, monospace, cursive*/
}

/*TAMAÑO*/
.tamano {
    background-color: gray;
    width: 400px; /*ancho*/
    height: 50px; /*alto*/
}

/*BACKGROUND*/
.background {
    width: 400px;
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url(../images/gatito_small.jpg);
    background-repeat: no-repeat; /*no-repeat, repeat-x, repeat-y*/
    background-size: cover; /*cover: estira vertialmente, 100%: estira horizontalmente; contain*/
    background-position: center center; /*posición de la imagen*/
}
/*BOX MODEL*/
#box_model {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    /*Margin es el espacio entre mi elemento y el resto de la página*/
    margin: 20px;
    margin-top: 20px; /*-top, -right, -bottom, -left */
    margin: 50px 15px; /*ArribaAbajo IzqDer */
    margin: 50px 10px 100px 200px; /*arriba der abajo izq*/
    /*Padding es el margen interno*/
    padding: 20px;
    padding-top: 100px;
    padding: 50px 15px;
    padding: 10px 30px 50px 100px;
    border: 2px solid black; /*solid dotted dashed double*/
    /*margin: 0 auto; /*centra horizontalmente*/
}


