* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #9FC5F8;
    padding: 20px 0;
    /*height: 70px*/
}
/*Medidas Estándar: 1280MD 1920HD*/
nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: space-between;
}

nav h1 {
    flex: 2;
}

h1, nav a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

nav a {
    font-size: 20px;
}

/* nav ul li {
    margin-right: 15px;
} */

.san-jose {
    display:flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid black;
    border-radius: 5px;
}