* {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.slides img {
    width: 100%;
}

.display-none {
    display: none;
}

.prev, .next {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    text-shadow: 6px 2px 6px black;
}

.container-dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: gray;
}

.modal-on {
    height: 100%;
    overflow: hidden;
}

.modal-on::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.target {
    position: absolute;
    top: 0;
}

.target img {
    height: 90vh;
}